.light{
    --background: var(--light-background);
    --element: var(--light-element);
    --border: var(--light-element);
    --text: var(--medium-dark-text);
    --disabled: var(--light-disabled);
    --element-highlight: var(--light-highlight);
    --border-highlight: var(--light-highlight);
    --text-highlight: var(--dark-text);
    --contrast: var(--light-contrast);
}