:root{
    --light-background: #f6f6f9;
    --light-element: #e4e4e9;
    --light-disabled: #f7f7f7;
    --light-highlight: #d7d7db;
    --light-outline: #aaa;
    --light-contrast: #fff;
    --light-link: #555;

    --dark-background: #161517;
    --dark-element: #2c2c2f;
    --dark-disabled: #1e1e1e;
    --dark-highlight: #3a3a3d;
    --dark-outline: #555;
    --dark-contrast: #000;
    --dark-link: #aaa;

    --accent-element: #05a3f0;
    --accent-highlight: #0fbcf9;

    --light-text: #fff;
    --medium-light-text: #ddd;
    --medium-text: #777;
    --medium-dark-text: #333;
    --dark-text: #000;
}