:root{
    --light-background: #f7f7fa;
    --light-element: #e7e7ea;
    --light-disabled: #f7f7f7;
    --light-highlight: #dfdfe2;
    --light-outline: #aaa;
    --light-contrast: #fff;

    --dark-background: #131315;
    --dark-element: #2c2c2e;
    --dark-disabled: #1e1e1e;
    --dark-highlight: #38383a;
    --dark-outline: #555;
    --dark-contrast: #000;

    --accent-element: #05a3f0;
    --accent-highlight: #0fbcf9;

    --light-text: #fff;
    --medium-light-text: #ddd;
    --medium-text: #aaa;
    --medium-dark-text: #333;
    --dark-text: #000;
}