.elevation-0{
    box-shadow: none;
}

.elevation-1{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.elevation-2{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.075);
}

.elevation-3{
    box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.1), 0 4px 8px -2px rgba(0, 0, 0, 0.05);
}

.elevation-4{
    box-shadow: 0 16px 24px -4px rgba(0, 0, 0, 0.1), 0 8px 16px -4px rgba(0, 0, 0, 0.025);
}


.dark .elevation-1{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 1);
}

.dark .elevation-2{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.75);
}

.dark .elevation-3{
    box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.1), 0 4px 8px -2px rgba(0, 0, 0, 0.5);
}

.dark .elevation-4{
    box-shadow: 0 16px 24px -4px rgba(0, 0, 0, 0.1), 0 8px 16px -4px rgba(0, 0, 0, 0.25);
}


.hover-elevation-0:hover,.hover-elevation-0:focus{
    cursor: pointer;
    box-shadow: none;
}

.hover-elevation-1:hover,.hover-elevation-1:focus{
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.hover-elevation-2:hover,.hover-elevation-2:focus{
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.075);
}

.hover-elevation-3:hover,.hover-elevation-3:focus{
    cursor: pointer;
    box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.1), 0 4px 8px -2px rgba(0, 0, 0, 0.05);
}

.hover-elevation-4:hover,.hover-elevation-4:focus{
    cursor: pointer;
    box-shadow: 0 16px 24px -4px rgba(0, 0, 0, 0.1), 0 8px 16px -4px rgba(0, 0, 0, 0.025);
}

.dark .hover-elevation-1:hover,.hover-elevation-1:focus{
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 1);
}

.dark .hover-elevation-2:hover,.hover-elevation-2:focus{
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.75);
}

.dark .hover-elevation-3:hover,.hover-elevation-3:focus{
    cursor: pointer;
    box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.1), 0 4px 8px -2px rgba(0, 0, 0, 0.5);
}

.dark .hover-elevation-4:hover,.hover-elevation-4:focus{
    cursor: pointer;
    box-shadow: 0 16px 24px -4px rgba(0, 0, 0, 0.1), 0 8px 16px -4px rgba(0, 0, 0, 0.25);
}