.element{
    background-color: var(--element);
    color: var(--text);
    border: 1px solid var(--border);
    transition: 250ms;
}

.background{
    background-color: var(--background);
    border: 1px solid var(--background);
}

.contrast{
    background: var(--contrast);
    border: 1px solid var(--contrast);
}