.table table, table.table{
    border-collapse: collapse;
}
.table tr {
    border-bottom: 1px solid var(--border);
}
.table th{
    text-align: left;
    padding: .25rem 1rem;
    background: var(--element);
}

.table td {
    text-align: left;
    padding: .5rem 1rem;
}

.table .table-striped tr:nth-child(2n){
    background: var(--element);
}