.table {
    border-collapse: collapse;
}
.table tr {
    border-bottom: 1px solid var(--border);
}
.table th{
    text-align: left;
    padding: 1rem;
    background: var(--element-highlight);
}

.table td {
    text-align: left;
    padding: .5rem 1rem;
}
.table .contrast tr:nth-child(2n){
    background: var(--element);
}
.table tr:nth-child(2n){
    background: var(--contrast);
}